// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

input{margin-bottom: 10px;}
.btn{margin-right: 20px;}
label{font-weight: 600;}
select{margin-bottom:8px}